// Colors
$primary-color: #0e6cff; // Primary Color (Foreground)
$accent-color: #ff8700; // Accent Color
$background-color: #f4f4f4; // Background Color

// Typography
$default-font: "Kanit", sans-serif; // Default Font
$secondary-font: "Dancing Script", cursive; // Secondary Font
$default-line-height: 1.6; // Default Line Height

// Layout
$container-width: 1100px; // The Width for the Container
$showcase-height: 600px; // The Height of the Showcase Part

// Animations
$btn-anim-duration: 0.3s; // Button Transition Duration
$link-fade-anim-duration: 0.2s; // Fade In Animation Duration
