@import "config";
@import "global";
@import "theme";
@import "utilities";
@import "elements";
@import "external";

@import "mobile/mobile";
@import "components/button";
@import "animations/keyframes";

@import "modules/navbar";
@import "modules/logo";
@import "modules/showcase";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: $default-font;
  line-height: $default-line-height;
}
