@media all and (max-width: 900px) {
  .showcase {
    height: auto;
    padding-bottom: 100px;

    .showcase-content {
      display: block;
      text-align: center;

      img {
        width: 90%;
        margin-top: 50px;
      }
    }
  }

  nav .container {
    display: flex;
    justify-content: center;

    a {
      margin-top: 20px;
    }

    ul {
      display: none;
    }
  }
}
